---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LandingPage</title>
	</head>
	<body>
		<header>
			<!-- logo + knap -->
        </header>
		<main>
			<!-- H1, H2 eller p + billede af facer -->
			<!-- Sticky bottom nav til mobil -->
			<!-- under the fold: fordele -->
			<!-- SoMe oversigt -->
        </main>
        <footer>
			<!-- stuff -->
        </footer>
	</body>
</html>
