---
import "../css/stylesheet.css";
import Bottomnav from "./Bottomnav.astro";
import "../fonts/Nexa-Bold.ttf";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Meld dig ind i CA a-kasse. Vi hjælper dig med relevante studiejobs og jobsøgning, når du er færdig som studerende" />
		<meta name="keywords" content="CA, A-kasse, studiejob, jobsøgning, studerende"
		<title>"CA a-kasse - din studiepartner | #melddignubareindforhelvede"<title>
	</head>
	<body>

		<header>
			<nav class="nav nav--icons">
				<ul>
					<li>
						<a href="#fordele">
							<svg style="icon icon-fordele" viewBox="0 0 24 24" width="40" height="40">
								<path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
							</svg>
							<span>Fordele</span>
						</a>
					</li>
					<li>
						<a href="#home">
						  	<svg class="icon icon-home" viewBox="0 0 24 24" width="40" height="40">
			  					<path fill="currentColor" d="M21.6 8.2l-9-7c-0.4-0.3-0.9-0.3-1.2 0l-9 7c-0.3 0.2-0.4 0.5-0.4 0.8v11c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-11c0-0.3-0.1-0.6-0.4-0.8zM14 21h-4v-8h4v8zM20 20c0 0.6-0.4 1-1 1h-3v-9c0-0.6-0.4-1-1-1h-6c-0.6 0-1 0.4-1 1v9h-3c-0.6 0-1-0.4-1-1v-10.5l8-6.2 8 6.2v10.5z"></path>
						  	</svg>
						  	<span>Hjem</span>
						</a>
					  </li>
					  <li>
						<a href="#profile">
						  	<svg class="icon icon-profile" viewBox="0 0 24 24" width="40" height="40">
								<g fill="currentColor">
							  	<path d="M16 14h-8c-2.8 0-5 2.2-5 5v2c0 0.6 0.4 1 1 1s1-0.4 1-1v-2c0-1.7 1.3-3 3-3h8c1.7 0 3 1.3 3 3v2c0 0.6 0.4 1 1 1s1-0.4 1-1v-2c0-2.8-2.2-5-5-5z"></path>
								  <path d="M12 12c2.8 0 5-2.2 5-5s-2.2-5-5-5-5 2.2-5 5 2.2 5 5 5zM12 4c1.7 0 3 1.3 3 3s-1.3 3-3 3-3-1.3-3-3 1.3-3 3-3z"></path>
								</g>
						  </svg>
						  <span class="nowrap">Mit CA</span>   
						</a>
					  </li>
				</ul>
			</nav>
				<div class="topflex">
					<img class="CAlogo" src="/calogo.webp" alt="CA a-kasse logo" >
					<div class=buttoncontainer>
						<div class="button" role="button">Meld dig ind</div>
					</div>
				</div>
			<div class="desktopnav">
				<img class="desktoplogo" src="/CAdesktoplogo.webp" alt="CA a-kasse logo" >
				<nav class="topnav">
					<div class="topnavhjem"><p class="topp">Hjem</p></div>
					<div class="topnavmeld"><p class="topp">Meld dig ind</p></div>
					<div class="topnavfordele"><p class="topp">Fordele</p></div>
					<div class="topnavmitCA"><p class="topp">Mit CA</p></div>
				</nav>
			</div>
		</header>
		<main>
			<div class="banner">
				<h1 class="MeldH1">#MELD DIGNU BARE <br>IND</br> FOR HELVEDE</h1>
				<h1 class="MelddigDesktop">#MELDDIG <br>NUBAREIND</br> FORHELVEDE</h1>
				<p class="fluff">Vi ved du er træt af at høre om a-kasser <br>- men måske skal det bare overståes?</br></p>
				<p class="fluffDesktop">Vi ved du er træt af at høre om a-kasser <br> - men måske skal det bare overståes?</br></p>
				<div class="Desktopbutton">
					<div class="button" role="button">Meld dig ind</div>
				</div>
				<img class="bannerbillede" src="/hassebanner.webp" alt="CA a kasse">
			</div>
			<section class="fordele">
				<h2 class="medlemsfordeleH2">Masser af medlemsfordele - lige til dig</h2>
				<div class="maingrid">
					<div class="box">
						<div class="samlebox">
							<!-- <img class="coins" src="/coins.svg"> -->
							<svg class="svg-icon" alt="CA a-kasse gratis for studerende" style="width: 1em; height: 1em;vertical-align: middle; overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M942.973592 203.240891c3.541663-6.385431 5.4225-13.007245 5.4225-19.799952 0-52.163033-109.947088-94.450139-245.571998-94.450139-135.622864 0-245.569952 42.287105-245.569952 94.450139 0 6.791683 1.879813 13.413498 5.4225 19.799952-3.200902 1.512447-5.4225 4.76042-5.4225 8.535397l0 156.522869c-38.169321-9.399067-83.543741-14.848173-132.22958-14.848173-135.623887 0-245.567905 42.287105-245.567905 94.450139 0 6.791683 1.879813 13.413498 5.421476 19.798928-3.200902 1.511423-5.421476 4.76042-5.421476 8.53642l0 377.799532c0 3.225461 1.617847 6.069229 4.084015 7.773034 21.045315 43.940768 121.150244 77.231989 241.48389 77.231989 120.335692 0 220.441645-33.291221 241.485937-77.233012 2.466168-1.703805 4.084015-4.547573 4.084015-7.772011l0-62.076824c38.168298 9.400091 83.541695 14.852266 132.22958 14.852266 120.335692 0 220.444714-33.292244 241.487983-77.234035 2.465145-1.703805 4.082992-4.546549 4.082992-7.770987L948.395068 211.775264C948.396091 208.001311 946.175517 204.752314 942.973592 203.240891zM325.024561 391.230426c114.76072 0 207.789487 25.372877 207.789487 56.669674 0 31.298843-93.02979 56.669674-207.789487 56.669674-114.758674 0-207.78744-25.370831-207.78744-56.669674C117.237121 416.603303 210.265888 391.230426 325.024561 391.230426zM117.237121 498.248811c43.493583 26.497491 120.290667 44.101427 207.78744 44.101427 87.49882 0 164.295903-17.603937 207.789487-44.101427l0 81.880869c0 31.298843-93.02979 56.669674-207.789487 56.669674-114.758674 0-207.78744-25.370831-207.78744-56.669674L117.237121 498.248811zM117.237121 630.478392c43.493583 26.497491 120.290667 44.101427 207.78744 44.101427 87.49882 0 164.295903-17.603937 207.789487-44.101427l0 81.880869c0 31.298843-93.02979 56.669674-207.789487 56.669674-114.758674 0-207.78744-25.370831-207.78744-56.669674L117.237121 630.478392zM325.024561 901.259538c-114.758674 0-207.78744-25.370831-207.78744-56.669674l0-81.880869c43.493583 26.497491 120.290667 44.101427 207.78744 44.101427 87.49882 0 164.295903-17.603937 207.789487-44.101427l0 81.880869C532.814048 875.888707 439.785282 901.259538 325.024561 901.259538zM910.61358 712.360284c0 31.298843-93.030813 56.669674-207.789487 56.669674-50.233078 0-96.303346-4.861728-132.22958-12.95301l0-96.356558c38.169321 9.402137 83.537602 14.860453 132.22958 14.860453 87.496773 0 164.29488-17.602913 207.789487-44.100404L910.61358 712.360284zM910.61358 580.130703c0 31.298843-93.030813 56.669674-207.789487 56.669674-50.233078 0-96.303346-4.861728-132.22958-12.95301l0-96.356558c38.169321 9.402137 83.537602 14.860453 132.22958 14.860453 87.496773 0 164.29488-17.602913 207.789487-44.100404L910.61358 580.130703zM910.61358 447.9001c0 31.298843-93.030813 56.669674-207.789487 56.669674-50.233078 0-96.303346-4.861728-132.22958-12.95301l0-15.381315c0-3.774977-2.219551-7.023974-5.421476-8.535397 3.541663-6.385431 5.421476-13.007245 5.421476-19.798928 0-26.784016-28.993335-50.962695-75.559906-68.15117l0-13.730723c43.494607 26.498514 120.292714 44.101427 207.789487 44.101427s164.29488-17.602913 207.789487-44.100404L910.61358 447.9001zM910.61358 315.670519c0 31.298843-93.030813 56.669674-207.789487 56.669674s-207.789487-25.370831-207.789487-56.669674l0-81.881892c43.494607 26.498514 120.292714 44.101427 207.789487 44.101427s164.29488-17.602913 207.789487-44.100404L910.61358 315.670519zM702.824093 240.110613c-114.758674 0-207.789487-25.372877-207.789487-56.669674s93.030813-56.669674 207.789487-56.669674S910.61358 152.144142 910.61358 183.440939 817.582767 240.110613 702.824093 240.110613z" /></svg>
							<p class="fordelep">Gratis A-kasse</p>
						</div>
					</div>
					<div class="box">
						<div class="samlebox">
							<svg class="svg-icon" style="width: 1em;height: 1em;vertical-align: middle;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M641.187999 465.483411A241.632248 241.632248 0 0 0 257.307069 750.615814L102.99265 904.930233a69.695504 69.695504 0 1 0 98.748527 98.589767l154.155659-154.155659a241.791008 241.791008 0 0 0 285.767442-383.88093zM173.323193 975.102016a30.164341 30.164341 0 0 1-41.912559 0 29.370543 29.370543 0 0 1 0-41.753799l148.281551-148.44031a2.063876 2.063876 0 0 0 0.793798 0.952558 219.723411 219.723411 0 0 0 18.892403 21.432558 244.807442 244.807442 0 0 0 21.432558 19.051163h0.793799z m439.446821-196.068218a200.354729 200.354729 0 0 1-249.411473 28.259225 204.64124 204.64124 0 0 1-35.56217-28.259225 211.944186 211.944186 0 0 1-28.259225-35.72093 201.624806 201.624806 0 1 1 313.550388 35.72093z"  /><path d="M941.085053 199.084651a18.257364 18.257364 0 0 0-1.746357-4.92155 3.968992 3.968992 0 0 0 0-1.111318 13.653333 13.653333 0 0 0-3.175193-4.286512L752.637301 5.874109a21.432558 21.432558 0 0 0-4.286512-3.175194h-1.111317a18.257364 18.257364 0 0 0-4.921551-2.698915H233.175596a93.191938 93.191938 0 0 0-93.191938 93.191938v774.906046l40.007442-40.166201V93.191938a53.184496 53.184496 0 0 1 53.184496-53.184496H717.710169v89.699225a93.509457 93.509457 0 0 0 93.350698 93.350697h89.699225v654.248683a53.343256 53.343256 0 0 1-53.184496 53.343255h-573.122481l-39.848682 40.007442h613.606201a93.191938 93.191938 0 0 0 93.191938-93.350697V202.894884a28.417984 28.417984 0 0 0-0.317519-3.810233z m-129.389147-15.875969a53.184496 53.184496 0 0 1-53.184496-53.184496V68.266667l114.624496 114.624496z"  /><path d="M470.203813 783.16155a146.852713 146.852713 0 1 1 147.011473-146.852713 146.852713 146.852713 0 0 1-147.011473 146.852713z m0-254.015503a106.845271 106.845271 0 1 0 106.845271 106.845271 107.004031 107.004031 0 0 0-106.845271-106.527752z"  /><path d="M642.299317 144.630078h-393.724031a20.162481 20.162481 0 0 1 0-40.166202h393.724031a20.162481 20.162481 0 1 1 0 40.166202zM289.059007 248.935194h-40.483721a20.003721 20.003721 0 0 1 0-40.007442H289.059007a20.003721 20.003721 0 0 1 0 40.007442zM829.95327 353.557829H389.71265a20.003721 20.003721 0 1 1 0-40.007441h440.24062a20.003721 20.003721 0 0 1 0 40.007441zM642.299317 248.935194H389.71265a20.003721 20.003721 0 1 1 0-40.007442h252.586667a20.003721 20.003721 0 1 1 0 40.007442zM289.059007 353.557829h-40.483721a20.003721 20.003721 0 0 1 0-40.007441H289.059007a20.003721 20.003721 0 0 1 0 40.007441zM829.95327 457.862946h-123.832558a20.003721 20.003721 0 1 1 0-39.848682h123.832558a20.003721 20.003721 0 1 1 0 39.848682zM829.95327 562.326822H755.812495a20.003721 20.003721 0 1 1 0-39.848682h74.140775a20.003721 20.003721 0 1 1 0 39.848682zM829.95327 666.790698h-60.487442a20.003721 20.003721 0 0 1 0-40.007442h60.487442a20.003721 20.003721 0 0 1 0 40.007442zM829.95327 771.413333H755.812495a20.162481 20.162481 0 0 1 0-40.166201h74.140775a20.162481 20.162481 0 0 1 0 40.166201z"  /></svg>
							<!-- <img class="magnifying-glass" src="magnifying-glass.svg">/ --> 
							<p class="fordelep">Hjælp til jobsøgning</p>
						</div>
					</div>
					<div class="box">
						<div class="samlebox">
							<img class="law" src="/law.svg" alt="hurtig advokathjælp">
							<p class="fordelephurtigadvokathjælp">Hurtig advokathjælp</p>
						</div>
					</div>
					<div class="box">
						<div class="samlebox">
							<!-- <img class="web" src="/web.svg"> -->
							<svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle; overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M519.662933 955.7504h-13.636266c-119.808-1.774933-223.402667-45.6704-308.1728-130.4576-25.668267-25.685333-47.5648-53.0432-65.041067-81.390933l-0.170667-0.290134a112.059733 112.059733 0 0 1-3.8912-6.0416C88.610133 670.890667 68.266667 594.9952 68.266667 512c0-81.646933 19.677867-156.3136 58.5216-221.986133 0.6144-1.570133 1.4336-3.054933 2.474666-4.4544l2.2016-3.771734a445.44 445.44 0 0 1 66.389334-83.950933C282.658133 113.629867 386.218667 70.0416 505.719467 68.266667H519.662933c0.034133-0.068267 0.187733 0 0.3072 0 118.391467 1.774933 221.1328 45.3632 305.339734 129.5872a475.989333 475.989333 0 0 1 66.781866 83.182933l0.170667 0.273067 0.221867 0.3584 2.747733 4.727466C935.389867 353.109333 955.733333 429.0048 955.733333 512c0 82.397867-20.053333 157.696-59.579733 223.7952a125.559467 125.559467 0 0 0-2.901333 5.085867 451.464533 451.464533 0 0 1-68.061867 84.5312c-84.053333 84.6336-186.7776 128.546133-305.186133 130.338133h-0.341334z m-193.194666-204.4416a466.773333 466.773333 0 0 0 26.248533 53.418667c41.198933 71.338667 88.098133 109.397333 143.069867 115.985066v-169.745066l-169.3184 0.341333z m203.451733-0.4096v169.796267c53.316267-6.792533 100.829867-45.7728 141.380267-116.002134a496.0768 496.0768 0 0 0 26.7776-54.152533l-168.157867 0.3584z m205.056-0.426667a538.709333 538.709333 0 0 1-34.0992 71.2704c-19.0464 32.989867-39.7312 59.938133-61.986133 80.810667 60.091733-19.3024 114.3808-53.179733 162.218666-101.341867a431.752533 431.752533 0 0 0 44.6464-51.012266l-110.779733 0.273066z m-555.707733 1.2288a432.469333 432.469333 0 0 0 42.7008 49.4592c48.059733 48.059733 102.673067 81.902933 163.208533 101.239467-22.357333-20.855467-43.0592-47.752533-62.0544-80.64a503.0912 503.0912 0 0 1-33.3824-70.365867l-110.472533 0.3072zM102.7072 529.066667c2.542933 69.085867 20.6336 132.437333 53.879467 188.552533l121.4976-0.324267c-17.7152-57.002667-27.357867-120.1664-28.740267-188.228266H102.7072z m180.770133 0c1.450667 68.642133 11.6736 131.84 30.429867 188.125866l181.879467-0.3584V529.066667H283.477333z m246.442667 0v187.6992l181.009067-0.3584c18.773333-55.808 28.9792-118.7328 30.429866-187.3408H529.92z m245.589333 0c-1.3824 67.908267-11.008 130.730667-28.672 187.2384l121.344-0.3072c32.750933-55.637333 50.568533-118.408533 53.077334-186.9312h-145.749334z m0-34.133334h145.7664c-2.525867-68.744533-20.462933-131.805867-53.4016-187.733333h-120.968533c17.646933 56.8832 27.221333 119.876267 28.603733 187.733333z m-245.589333 0h211.456c-1.4336-68.4544-11.6224-131.515733-30.293333-187.733333H529.92v187.733333z m-246.442667 0h212.309334V307.2H313.2416c-18.363733 55.876267-28.347733 118.9376-29.764267 187.733333zM102.724267 494.933333h146.619733c1.348267-68.1472 10.769067-131.140267 28.091733-187.733333H156.279467c-33.041067 55.808-51.029333 118.869333-53.5552 187.733333z m208.0256-186.333866zM734.702933 273.066667h110.6432a458.325333 458.325333 0 0 0-44.1856-51.080534c-47.735467-47.735467-101.905067-81.322667-161.8944-100.522666 22.101333 20.667733 42.6496 47.3088 61.576534 79.872A500.974933 500.974933 0 0 1 734.702933 273.066667zM529.92 273.066667h168.0896a461.482667 461.482667 0 0 0-26.692267-54.647467c-40.516267-69.666133-88.046933-108.356267-141.380266-115.0976V273.066667z m-203.9296 0h169.796267V103.2704c-54.9888 6.5536-101.905067 44.373333-143.121067 115.217067A467.012267 467.012267 0 0 0 325.9904 273.066667z m-147.797333 0h111.104a501.469867 501.469867 0 0 1 33.809066-71.645867c18.926933-32.546133 39.543467-59.1872 61.7984-79.854933-60.416 19.217067-114.944 52.7872-162.9696 100.471466A425.813333 425.813333 0 0 0 178.193067 273.066667z"  /></svg>
							<p class="fordelepweb">Online foredrag & webinarer</p>
						</div>
					</div>
					<div class="box">
						<div class="samlebox">
							<img class="insurance" src="/insurance.svg" alt="billig studieforsikring">
							<p class="fordelepbilligstudieforsikring">Billig studieforsikring</p>
						</div>
					</div>
					<div class="box">
						<div class="samlebox">
							<svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle; overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 829.44c-20.48 0-40.96-6.826667-61.44-20.48-13.653333-6.826667-119.466667-81.92-204.8-153.6-13.653333-10.24-34.133333-30.72-51.2-51.2l-34.133333-34.133333c-6.826667-6.826667-6.826667-17.066667-3.413334-23.893334 6.826667-6.826667 17.066667-6.826667 23.893334-3.413333L218.453333 580.266667l47.786667 47.786666c85.333333 71.68 191.146667 143.36 204.8 153.6 13.653333 10.24 27.306667 13.653333 40.96 13.653334 10.24 0 34.133333 0 34.133333-6.826667 3.413333-6.826667 6.826667-10.24 13.653334-10.24s10.24 0 17.066666 3.413333c3.413333 3.413333 10.24 10.24 23.893334 3.413334 17.066667-6.826667 30.72-27.306667 34.133333-44.373334 0-6.826667 3.413333-13.653333 10.24-13.653333 6.826667-3.413333 13.653333 0 17.066667 3.413333 6.826667 6.826667 20.48 3.413333 34.133333 0 13.653333-6.826667 27.306667-20.48 23.893333-34.133333 0-6.826667 3.413333-13.653333 6.826667-17.066667 6.826667-3.413333 13.653333-3.413333 17.066667 0 10.24 6.826667 30.72 6.826667 40.96-3.413333 6.826667-6.826667 10.24-13.653333 3.413333-27.306667-17.066667-34.133333-102.4-105.813333-167.253333-163.84-34.133333-30.72-68.266667-58.026667-92.16-81.92-10.24 3.413333-17.066667 10.24-20.48 13.653334-10.24 6.826667-17.066667 13.653333-34.133334 17.066666-30.72 40.96-68.266667 51.2-116.053333 34.133334-23.893333-6.826667-30.72-23.893333-34.133333-34.133334-10.24-40.96 30.72-98.986667 61.44-129.706666 71.68-71.68 122.88-98.986667 225.28-54.613334 85.333333 37.546667 153.6 68.266667 153.6 68.266667 10.24 3.413333 13.653333 13.653333 10.24 23.893333-3.413333 10.24-13.653333 13.653333-23.893334 10.24 0 0-68.266667-30.72-153.6-68.266666-75.093333-34.133333-112.64-23.893333-184.32 47.786666-27.306667 27.306667-58.026667 75.093333-51.2 98.986667 0 3.413333 3.413333 6.826667 10.24 10.24 47.786667 13.653333 68.266667-3.413333 81.92-27.306667 3.413333-3.413333 6.826667-6.826667 13.653334-6.826666 10.24 0 13.653333-3.413333 23.893333-10.24 10.24-6.826667 20.48-13.653333 40.96-23.893334 6.826667-3.413333 13.653333 0 17.066667 3.413334 23.893333 23.893333 61.44 54.613333 98.986666 85.333333 78.506667 64.853333 157.013333 133.12 177.493334 174.08 13.653333 23.893333 6.826667 51.2-10.24 68.266667-17.066667 13.653333-37.546667 17.066667-58.026667 13.653333-6.826667 17.066667-20.48 34.133333-40.96 44.373333-17.066667 6.826667-34.133333 10.24-47.786667 6.826667-10.24 20.48-27.306667 40.96-47.786666 51.2-13.653333 6.826667-30.72 6.826667-44.373334 0-23.893333 6.826667-47.786667 10.24-64.853333 10.24z" fill="" /><path d="M426.666667 300.373333h-204.8c-10.24 0-17.066667-10.24-17.066667-17.066666s6.826667-17.066667 17.066667-17.066667h204.8c10.24 0 17.066667 6.826667 17.066666 17.066667s-6.826667 17.066667-17.066666 17.066666zM802.133333 658.773333c-6.826667 0-10.24-3.413333-13.653333-6.826666-6.826667-6.826667-3.413333-17.066667 3.413333-23.893334l51.2-34.133333c6.826667-6.826667 17.066667-3.413333 23.893334 3.413333 6.826667 6.826667 3.413333 17.066667-3.413334 23.893334l-51.2 34.133333c-3.413333 0-6.826667 3.413333-10.24 3.413333zM733.866667 709.973333c-3.413333 0-6.826667 0-10.24-3.413333-23.893333-17.066667-126.293333-126.293333-139.946667-136.533333-6.826667-6.826667-6.826667-17.066667 0-23.893334 6.826667-6.826667 17.066667-6.826667 23.893333 0 30.72 34.133333 116.053333 122.88 133.12 136.533334 6.826667 6.826667 10.24 17.066667 3.413334 23.893333 0 0-6.826667 3.413333-10.24 3.413333zM648.533333 761.173333c-3.413333 0-6.826667 0-10.24-3.413333-30.72-23.893333-109.226667-109.226667-122.88-122.88-6.826667-6.826667-6.826667-17.066667 0-23.893333 6.826667-6.826667 17.066667-6.826667 23.893334 0 13.653333 17.066667 92.16 95.573333 116.053333 116.053333 6.826667 6.826667 10.24 17.066667 3.413333 23.893333 0 6.826667-6.826667 10.24-10.24 10.24zM563.2 812.373333c-3.413333 0-6.826667 0-10.24-3.413333-27.306667-23.893333-78.506667-75.093333-102.4-102.4-6.826667-6.826667-6.826667-17.066667 0-23.893333 6.826667-6.826667 17.066667-6.826667 23.893333 0 27.306667 27.306667 75.093333 78.506667 102.4 102.4 6.826667 6.826667 6.826667 17.066667 3.413334 23.893333-6.826667 0-13.653333 3.413333-17.066667 3.413333z" fill="" /><path d="M17.066667 607.573333c-10.24 0-17.066667-6.826667-17.066667-17.066666v-375.466667c0-10.24 6.826667-17.066667 17.066667-17.066667 30.72 0 180.906667 3.413333 218.453333 37.546667 3.413333 3.413333 3.413333 6.826667 3.413333 13.653333-10.24 109.226667-64.853333 334.506667-68.266666 344.746667-3.413333 6.826667-10.24 13.653333-17.066667 13.653333h-136.533333z m17.066666-375.466666v341.333333h105.813334c10.24-47.786667 54.613333-221.866667 64.853333-317.44-27.306667-17.066667-109.226667-23.893333-170.666667-23.893333zM1006.933333 641.706667h-136.533333c-6.826667 0-13.653333-6.826667-17.066667-13.653334-17.066667-58.026667-105.813333-293.546667-133.12-337.92-3.413333-3.413333-3.413333-10.24-3.413333-13.653333s6.826667-10.24 10.24-10.24c3.413333 0 112.64-34.133333 279.893333-34.133333 10.24 0 17.066667 6.826667 17.066667 17.066666v375.466667c0 6.826667-6.826667 17.066667-17.066667 17.066667z m-122.88-34.133334H989.866667v-341.333333c-112.64 0-194.56 17.066667-232.106667 27.306667 37.546667 68.266667 105.813333 249.173333 126.293333 314.026666z" fill="" /></svg>
							<!-- <img class="handshake" src="/handshake.svg"> -->
							<p class="fordelep">Karriere-rådgivning</p>
						</div>
					</div>
				</div>
			</section>
			<section class="SoMe">
				<div class="somestart">
					<h2>#Melddignubareindforhelvede</h2>
					<h3>Følg os på SoMe</h3>
				</div>
				<div class="somegrid">
					<div class="somebox">
						<img class="somelogo" src="/fblogo.svg" alt="CA a-kasse på Facebook">
						<img class="somevindue" src="/Facebook.webp" alt="CA a-kasse på Facebook">
					</div>
					<div class="somebox">
						<img class="somelogo" src="/tiktoklogo.svg" alt="CA a-kasse på Tiktok">
						<img class="somevindue" src="/Tiktok.webp" alt="CA a-kasse på Tiktok">
					</div>
					<div class="somebox">
						<img class="somelogo" src="/iglogo.svg" alt="CA a-kasse på Instagram">
						<img class="somevindue" src="/Instagram.webp" alt="CA a-kasse på Instagram">
					</div>
				</div>
			</section>

			</div>
        </main>
        <footer>
			<p>footer</p>
			<p>CA a-kasse og studiepartner</p>
			<p>CA a-kasse og studiepartner</p>
			<p>CA a-kasse og studiepartner</p>
			<p>CA a-kasse og studiepartner</p>
			<p>CA a-kasse og studiepartner</p>
			<!-- stuff -->
        </footer>
	</body>
</html>