---
import "../css/stylesheet.css";
import Bottomnav from "./Bottomnav.astro";
import "../fonts/Nexa-Bold.ttf";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CA - din studiepartner</title>
	</head>
	<body>

		<header>
			<nav class="nav nav--icons">
				<ul>
					<li>
						<a href="#fordele">
							<svg style="icon icon-fordele" viewBox="0 0 24 24" width="40" height="40">
								<path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
							</svg>
							<span>Fordele</span>
						</a>
					</li>
					<li>
						<a href="#home">
						  	<svg class="icon icon-home" viewBox="0 0 24 24" width="40" height="40">
			  					<path fill="currentColor" d="M21.6 8.2l-9-7c-0.4-0.3-0.9-0.3-1.2 0l-9 7c-0.3 0.2-0.4 0.5-0.4 0.8v11c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-11c0-0.3-0.1-0.6-0.4-0.8zM14 21h-4v-8h4v8zM20 20c0 0.6-0.4 1-1 1h-3v-9c0-0.6-0.4-1-1-1h-6c-0.6 0-1 0.4-1 1v9h-3c-0.6 0-1-0.4-1-1v-10.5l8-6.2 8 6.2v10.5z"></path>
						  	</svg>
						  	<span>Hjem</span>
						</a>
					  </li>
					  <li>
						<a href="#profile">
						  	<svg class="icon icon-profile" viewBox="0 0 24 24" width="40" height="40">
								<g fill="currentColor">
							  	<path d="M16 14h-8c-2.8 0-5 2.2-5 5v2c0 0.6 0.4 1 1 1s1-0.4 1-1v-2c0-1.7 1.3-3 3-3h8c1.7 0 3 1.3 3 3v2c0 0.6 0.4 1 1 1s1-0.4 1-1v-2c0-2.8-2.2-5-5-5z"></path>
								  <path d="M12 12c2.8 0 5-2.2 5-5s-2.2-5-5-5-5 2.2-5 5 2.2 5 5 5zM12 4c1.7 0 3 1.3 3 3s-1.3 3-3 3-3-1.3-3-3 1.3-3 3-3z"></path>
								</g>
						  </svg>
						  <span class="nowrap">Mit CA</span>   
						</a>
					  </li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="topflex">
				<img class="CAlogo" src="/calogo.webp" alt="logo" >
				<div class=buttoncontainer>
					<div class="button" role="button">Meld dig ind</div>
				</div>
			</div>
			<div class="banner">
				<h1 class="MeldH1">#MELD DIGNU BARE <br>IND</br> FOR HELVEDE</h1>
				<p class="fluff">Vi ved du er træt af at høre om a-kasser <br>- men måske skal det bare overståes?</br></p>
				<img class="bannerbillede" src="/hassebanner.webp" alt="test">
			</div>
			<div class="fordele">
				<h2 class="medlemsfordeleH2">Masser af medlemsfordele - lige til dig</h2>
				<div class="maingrid">
					<div class="box"><img class="coins" src="/coins.svg">Gratis A-kasse</div>
					<div class="box"><img class="magnifying-glass" src="/magnifying-glass.svg">Hjælp til jobsøgning</div>
					<div class="box"><img class="law" src="/law.svg">Hurtig advokathjælp</div>
					<div class="box"><img class="web" src="/web.svg">Online foredrag & webiar</div>
					<div class="box"><img class="insurance" src="/insurance.svg">Billig studieforsikring</div>
					<div class="box"><img class="handshake" src="/handshake.svg">Karriere-rådgivning</div>
				</div>
			</div>
			<div class="SoMe">
				<div class="somefloat">
					<svg class="svg-icon" viewBox="0 0 120 120">
						<path fill="white" d="M11.344,5.71c0-0.73,0.074-1.122,1.199-1.122h1.502V1.871h-2.404c-2.886,0-3.903,1.36-3.903,3.646v1.765h-1.8V10h1.8v8.128h3.601V10h2.403l0.32-2.718h-2.724L11.344,5.71z"></path>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
						<path fill="white" d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07z"/>
					</svg>
					<svg class="svg-icon" viewBox="0 0 120 120">
						<path fill="white" d="M14.52,2.469H5.482c-1.664,0-3.013,1.349-3.013,3.013v9.038c0,1.662,1.349,3.012,3.013,3.012h9.038c1.662,0,3.012-1.35,3.012-3.012V5.482C17.531,3.818,16.182,2.469,14.52,2.469 M13.012,4.729h2.26v2.259h-2.26V4.729z M10,6.988c1.664,0,3.012,1.349,3.012,3.012c0,1.664-1.348,3.013-3.012,3.013c-1.664,0-3.012-1.349-3.012-3.013C6.988,8.336,8.336,6.988,10,6.988 M16.025,14.52c0,0.831-0.676,1.506-1.506,1.506H5.482c-0.831,0-1.507-0.675-1.507-1.506V9.247h1.583C5.516,9.494,5.482,9.743,5.482,10c0,2.497,2.023,4.52,4.518,4.52c2.494,0,4.52-2.022,4.52-4.52c0-0.257-0.035-0.506-0.076-0.753h1.582V14.52z"></path>
					</svg>
			</div>

			</div>
        </main>
        <footer>
			<!-- stuff -->
        </footer>
	</body>
</html>
