@font-face {
  font-family: "Nexa-Bold";
  src: url(../fonts/Nexa-Bold.ttf);
}

body {
  background: #0a79ae;
}

.topflex {
  display: flex;
  justify-content: space-between;
}

.CAlogo {
  height: 100px;
}

.buttoncontainer {
  height: 100px;
  text-align: center;
}

/* --- button start --- */

.button {
  align-items: center;
  background-color: #d54141;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding: 20px 50px 20px 50px;
  border-radius: 50px;
  margin-top: 20px;
}

.button:hover,
.button:focus {
  background-color: #d54141;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* --- button slut --- */

/*  --- banner start --- */

h1 {
  font-size: 65px;
}

.banner {
  max-width: 100%;
  position: relative;
  height: 744px;
}

.MeldH1 {
  font-family: "Nexa-Bold";
  position: absolute;
  color: white;
  z-index: 1;
  max-width: 10ch;
  overflow-wrap: break-word;
}

.fluff {
  position: absolute;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  max-width: 15ch;
  overflow-wrap: break-word;
  transform: translate(0px, 430px);
}

.bannerbillede {
  scale: 0.75;
  z-index: -1;
  transform: translate(100px, -100px);
}

/* banner slut */

/* fordele start */

.fordele {
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: #f1f1ed;
  margin: 0px;
  margin-left: -10px;
  text-align: center;
}

.medlemsfordeleH2 {
  padding-top: 15px;
  margin: 0px;
  color: #054674;
  font-family: "Nexa-Bold";
  font-size: 16px;
}

.maingrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-template-rows: 1fr;
  gap: 1em;
}

/* fordele slut */

.nav--icons {
  overflow: hidden;
  position: fixed;
  background: #d54141;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}
.nav--icons ul {
  list-style-type: none;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
}
.nav--icons ul li a {
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  display: flex;
  align-items: center;
  border-radius: 3em;
  padding: 0.75em 1.25em;
  transition: 0.6s ease-in-out;
}
.nav--icons ul li a span {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  padding-left: 0.5em;
  transform: translate3d(-0.5em, 0, 0);
  transition: opacity 0.6s, max-width 0.6s, transform 0.6s;
  transition-timing-function: ease-in-out;
}

/* .nav--icons ul li a:hover .nav--icons ul li a.is-active {
    color: #fff;
    background-color: #000;
  }
  .nav--icons ul li a:hover span,
  .nav--icons ul li a.is-active span {
    opacity: 1;
    max-width: 40px;
    transform: translate3d(0, 0, 0);
    */

.nowrap {
  white-space: nowrap;
}
